body {
    background: linear-gradient(135deg, #9e80e4, #ad16c4)
    
}

.cell {
    width:75px;
    height:75px;
    border:2px solid   
}

#cellContainer {
    background: #ffffff;
    display:grid;
    grid-template-columns: repeat(3, auto);
    width: 240px;
    margin: auto;
    font-size:60px;
    align-items: center;
    border: none;
    
    
}

#gameContainer{
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}